<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">SignUp to WanderLust</h1>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username"
                        required />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            please enter valid Username
                        </div>
                </div>             

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter description"
                        required>
                    <div class="invalid-feedback">
                        please enter valid email
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password"
                        required />
                    <div class="invalid-feedback">
                        Please enter a valid password.
                    </div>
                </div>
                <button class="btn btn-dark add-btn">Sign Up</button>
            </form>
        </div>
    </div>